certifi==2020.6.20
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
dm-tree==0.1.5
gast==0.4.0
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
Pillow==7.2.0
pyparsing==2.4.7
pystan==2.19.1.1
python-dateutil==2.8.1
scipy==1.5.2
six==1.15.0
tfp-nightly==0.12.0.dev20200928
